@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary-color: #85275C;
    --secondary-color: #85275ccf;
    --ternary-color: #85275c50;
    --cuaternary-color: #46ff08;
}

[alt='title'] {
    width: 15rem;
}

.bg-primary-person {
    background-color: var(--primary-color) !important;
}

.text-primary-person {
    color: var(--primary-color) !important;
}

.btn-person:hover {
    transition: 0.3s;
    background-color: var(--secondary-color) !important;
}

.btn-person:active {
    transition: 0s !important;
    background-color: var(--ternary-color) !important;
    color: var(--primary-color) !important;
}

.bg-success-person {
    background-color: var(--cuaternary-color) !important;
}